hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
  hr.new {
          border-top: 3px solid blue;
      }
      body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
  #toc_container {
      background: #f9f9f9 none repeat scroll 0 0;
      border: 1px solid #aaa;
      display: table;
      font-size: 95%;
      margin-bottom: 1em;
      padding: 20px;
      width: auto;
  }
  
  .toc_title {
      font-weight: 700;
      text-align: center;
  }
  
  #toc_container li, #toc_container ul, #toc_container ul li{
      list-style: outside none none !important;
  }
  hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
  hr.new {
        border-top: 3px dashed #008ae6;
  }
  p {
        text-align: center;
  }
  ul {color: teal;}
  table {text-align: center;}
              body {
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
                }     
  h1 {font-size: 45px;}
   table, th, td {border: 1px; border-collapse: collapse;}
        th, td {padding: 5px;}
        table, th, td {border: 1px solid black; border-collapse: collapse;}
        th, td {padding: 5px;}
        hr { 
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
          } 
              p {
                  text-align: center;
              }
              h1 {color:midnightblue;}
              ul {text-align: justify;}
                  body {
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
                    }
              h1 {font-size: 45px;}
                    img {border-radius: 50%; }
                    hr { 
                        display: block;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;
                        margin-left: auto;
                        margin-right: auto;
                        border-style: inset;
                        border-width: 1px;
                        /* This is an example of internal CSS above */
                      } 
                          hr.new {
                              border-top: 3px dotted lawngreen;
                          }
                          p {
                              text-align: center;
                          }
                              body {
                                font-family:Verdana, Geneva, Tahoma, sans-serif
                                }
                      h1 {font-size: 45px;}